name: Build & Upload Docker Image

on:
  pull_request:
  release:
    types: [published]

jobs:
  Setup:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.setup.outputs.version }}
      repo_name_lower_case: ${{ steps.setup.outputs.repo_name_lower_case }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup Jobs
      id: setup
      run: |
        echo "version=$(grep FROM ./Dockerfile | head -n1 | cut -d':' -f2 | cut -d' ' -f1 | xargs)" >> $GITHUB_OUTPUT
        echo "repo_name_lower_case=$(echo ${GITHUB_REPOSITORY@L} | cut -d'/' -f2)" >> $GITHUB_OUTPUT

  Build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: Setup
    env:
      VERSION: ${{ needs.Setup.outputs.version }}
      IMAGE_NAME: ${{ vars.IMAGE_NAME || needs.Setup.outputs.repo_name_lower_case }}
    strategy:
      fail-fast: false
      matrix:
        platform: [linux/amd64, linux/arm64, linux/arm/v7]
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.8'

    - name: Install pip dependencies
      run: pip install -r .github/assets/Requirements.txt

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build
      env:
        DOCKER_USER: ${{ vars.DOCKER_HUB_USERNAME || github.repository_owner }}
        BUILD_NR: ${{ github.run_number }}
        PLATFORM: ${{ matrix.platform }}
      run: |
        ARCH=$(echo "${PLATFORM}" | awk -F  "/" '{print $2$3}')
        echo ""
        echo "============================================================="
        echo "Building: ${DOCKER_USER}/${IMAGE_NAME}:${VERSION}-${ARCH}-${BUILD_NR}"
        echo "============================================================="
        echo ""
        docker buildx build \
          --tag "${DOCKER_USER}/${IMAGE_NAME}:${VERSION}-${ARCH}-${BUILD_NR}" \
          --platform ${PLATFORM} \
          --load \
          -f Dockerfile .

    - name: E2E Test
      env:
        DOCKER_USER: ${{ vars.DOCKER_HUB_USERNAME || github.repository_owner }}
        BUILD_NR: ${{ github.run_number }}
        PLATFORM: ${{ matrix.platform }}
      run: |
        ARCH=$(echo "${PLATFORM}" | awk -F  "/" '{print $2$3}')
        echo ""
        echo "============================================================="
        echo "Testing: ${DOCKER_USER}/${IMAGE_NAME}:${VERSION}-${ARCH}-${BUILD_NR}"
        echo "============================================================="
        echo ""
        python3 .github/assets/end_to_end_test.py docker "${DOCKER_USER}/${IMAGE_NAME}:${VERSION}-${ARCH}-${BUILD_NR}"

    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: workspace
        path: ${{ runner.workspace }}

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      if: github.event_name == 'release'
      with:
        username: ${{ vars.DOCKER_HUB_USERNAME || github.repository_owner }}
        password: ${{ secrets.DOCKER_HUB_DEPLOY_KEY }}

    - name: Push Images
      if: github.event_name == 'release'
      env:
        DOCKER_USER: ${{ vars.DOCKER_HUB_USERNAME || github.repository_owner }}
        BUILD_NR: ${{ github.run_number }}
        PLATFORM: ${{ matrix.platform }}
      run: |
        ARCH=$(echo "${PLATFORM}" | awk -F  "/" '{print $2$3}')
        echo ""
        echo "============================================================="
        echo "Pushing: ${DOCKER_USER}/${IMAGE_NAME}:${VERSION}-${ARCH}-${BUILD_NR}"
        echo "============================================================="
        echo ""
        docker tag "${DOCKER_USER}/${IMAGE_NAME}:${VERSION}-${ARCH}-${BUILD_NR}" "${DOCKER_USER}/${IMAGE_NAME}:${VERSION}-${ARCH}"
        docker push "${DOCKER_USER}/${IMAGE_NAME}:${VERSION}-${ARCH}-${BUILD_NR}"
        docker push "${DOCKER_USER}/${IMAGE_NAME}:${VERSION}-${ARCH}"

  Shared-Manifest:
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    needs:
      - Build
      - Setup
    env:
      VERSION: ${{ needs.Setup.outputs.version }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKER_HUB_USERNAME || github.repository_owner }}
        password: ${{ secrets.DOCKER_HUB_DEPLOY_KEY }}

    - name: Create and push shared manifest
      env:
        DOCKER_USER: ${{ vars.DOCKER_HUB_USERNAME || github.repository_owner }}
        BUILD_NR: ${{ github.run_number }}
      run: |
        echo ""
        echo "============================================================="
        echo "Pushing shared manifest: ${DOCKER_USER}/${IMAGE_NAME}:${VERSION}"
        echo "============================================================="
        echo ""
        echo "#!/bin/bash" > push-shared-tags.sh
        echo -n "docker manifest create ${DOCKER_USER}/${IMAGE_NAME}:${VERSION}" >> push-shared-tags.sh
        while read -r PLATFORM; do
          ARCH=$(echo "${PLATFORM}" | awk -F  "/" '{print $2$3}')
          echo -n " ${DOCKER_USER}/${IMAGE_NAME}:${VERSION}-${ARCH}-${BUILD_NR}" >> push-shared-tags.sh
        done <<< "$(cat .github/platforms.json | jq -r '.platforms | join("\n")')"
        echo "" >> push-shared-tags.sh
        echo -n "docker manifest create ${DOCKER_USER}/${IMAGE_NAME}:latest" >> push-shared-tags.sh
        while read -r PLATFORM; do
          ARCH=$(echo "${PLATFORM}" | awk -F  "/" '{print $2$3}')
          echo -n " ${DOCKER_USER}/${IMAGE_NAME}:${VERSION}-${ARCH}-${BUILD_NR}" >> push-shared-tags.sh
        done <<< "$(cat .github/platforms.json | jq -r '.platforms | join("\n")')"
        echo "" >> push-shared-tags.sh
        echo "docker manifest push ${DOCKER_USER}/${IMAGE_NAME}:${VERSION}" >> push-shared-tags.sh
        echo "docker manifest push ${DOCKER_USER}/${IMAGE_NAME}:latest" >> push-shared-tags.sh
        cat push-shared-tags.sh
        chmod +x ./push-shared-tags.sh
        ./push-shared-tags.sh

  Check-Docker-Build:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs:
      - Build
      - Shared-Manifest
    steps:
      - run: |
          result="${{ needs.Build.result }}"
          if [[ $result == "success" || $result == "skipped" ]]; then
            exit 0
          else
            exit 1
          fi
